{% extends "base.html" %}

{% block main %}

<form name="eraform" method="POST" action="/review/{{ review.key().id() }}/screen/{{ nthScreen }}">

{% for prompt in prompts %}

    <input type="hidden" name="prompts[]" value="{{prompt.key().id()}}"/>

    <div class="prompt">
        <div>
            {{ prompt.promptText }}
        </div>
    
    {% if prompt.promptType == 'checkbox' %}
        
        {% for checkbox in prompt.getOptions() %}
            
            <input type="hidden" name="options[]" value="{{checkbox.key().id()}}"/>
            <div>
                <input type="checkbox" 
                {% if PromptResponse.getForCheckbox(review,checkbox) %}
                    checked = "true"
                {% end %}
                name="option{{checkbox.key().id()}}"/>{{ checkbox.text }}
            </div>

        {% end %}
        
    {% end %}
    
    {% if prompt.promptType == 'textarea' %}
    
        <textarea name="{{prompt.key().id()}}">{{ PromptResponse.getForTextPrompt(review,prompt) }}</textarea>
    
    {% end %}
    
    {% if prompt.promptType == 'input' %}
    
        <input name="{{prompt.key().id()}}" value="{{ PromptResponse.getForTextPrompt(review,prompt) }}"/>
        
    {% end %}
    
    </div>

{% end %}


    <input type="submit" value="Next">


</form>

{% if nthScreen > 1 %}

    <div>
        <a href="/review/{{ review.key().id() }}/screen/{{ nthScreen-1 }}">Previous</a>
    </div>

{% end %}

{% end %}